name: Create Pull Request
on:
  workflow_dispatch: {}
jobs:
  Create_pull_request:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Clone release branch to create pull request
      run: 'git checkout ${{ github.event.client_payload.ReleaseBranchName }}

        git branch ${{ github.event.client_payload.ReleaseBranchName }}-docs

        git push origin ${{ github.event.client_payload.ReleaseBranchName }}-docs
        --force

        '
    - name: Create pull request for ${{ github.event.client_payload.ReleaseBranchName
        }}
      id: create-pr
      uses: actions/github-script@v8
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: "const pulls = await github.rest.pulls.list({\n  owner: context.repo.owner,\n\
          \  repo: context.repo.repo,\n  head: `${context.repo.owner}:${{ github.event.client_payload.ReleaseBranchName\
          \ }}-docs`,\n  base: \"${{ github.event.client_payload.PullRequestBase }}\"\
          ,\n  state: 'open'\n});\n\nif (pulls.data.length > 0) {\n  console.log(`Pull\
          \ request already exists: ${pulls.data[0].html_url}`);\n  return pulls.data[0].number;\n\
          } else {\n  console.log('No existing pull request found, creating new one');\n\
          \  let response = await github.rest.pulls.create({\n    owner: context.repo.owner,\n\
          \    repo: context.repo.repo,\n    title: \"${{ github.event.client_payload.PullRequestTitle\
          \ }}\",\n    head: \"${{ github.event.client_payload.ReleaseBranchName }}-docs\"\
          ,\n    base: \"${{ github.event.client_payload.PullRequestBase }}\",\n \
          \   body: `${{ github.event.client_payload.PullRequestBody }}`\n  });\n\
          \  return response.data.number;\n}\n"
    - name: Request reviewers
      uses: actions/github-script@v8
      with:
        github-token: ${{secrets.PRAPPROVAL_SECRET}}
        script: "github.rest.pulls.requestReviewers({\n    owner: context.repo.owner,\n\
          \    repo: context.repo.repo,\n    pull_number: ${{ steps.create-pr.outputs.result\
          \ }},\n    team_reviewers: ['runner-images-team']\n})\n"
