name: Trigger Build workflow
on:
  workflow_dispatch: {}
defaults:
  run:
    shell: pwsh
jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    outputs:
      ci_workflow_run_id: ${{ steps.resolve.outputs.ci_workflow_run_id }}
      ci_workflow_run_url: ${{ steps.resolve.outputs.ci_workflow_run_url }}
    env:
      CI_PR_TOKEN: ${{ secrets.CI_PR_TOKEN }}
      PR_TITLE: ${{ github.event.pull_request.title }}
      CI_REPO: ${{ vars.CI_REPO }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
    - name: Trigger Build workflow
      run: "Import-Module ./helpers/GitHubApi.psm1\n$gitHubApi = Get-GithubApi -Repository\
        \ \"${env:CI_REPO}\" -AccessToken \"${env:CI_PR_TOKEN}\"\n\n$eventType = \"\
        trigger-${{ inputs.image_type }}-build\"\n[string] $prGuid = New-Guid\n$clientPayload\
        \ = @{\n    pr_title                = \"${env:PR_TITLE} - \" + $prGuid\n \
        \   custom_repo             = \"${{ github.event.pull_request.head.repo.full_name\
        \ }}\"\n    custom_repo_commit_hash = \"${{ github.event.pull_request.head.sha\
        \ }}\"\n}\n\n$gitHubApi.DispatchWorkflow($eventType, $clientPayload)\n\"PR_GUID=$prGuid\"\
        \ | Out-File -Append -FilePath $env:GITHUB_ENV\n"
    - name: Resolve Workflow Run ID
      id: resolve
      run: "Import-Module ./helpers/GitHubApi.psm1\n$gitHubApi = Get-GithubApi -Repository\
        \ \"${env:CI_REPO}\" -AccessToken \"${env:CI_PR_TOKEN}\"\n\n$workflowFileName\
        \ = $(\"{0}.yml\" -f \"${{ inputs.image_type }}\").ToLower()\n$WorkflowSearchPattern\
        \ = \"${env:PR_GUID}\"\n\n# It might take a few minutes for the action to\
        \ start\n$attempt = 1\ndo {\n  $workflowRuns = $gitHubApi.GetWorkflowRuns($WorkflowFileName).workflow_runs\n\
        \  $workflowRunId = ($workflowRuns | Where-Object {$_.display_title -match\
        \ $WorkflowSearchPattern}).id | Select-Object -First 1\n\n  if (-not ([string]::IsNullOrEmpty($workflowRunId)))\
        \ {\n    $workflowRun = $gitHubApi.GetWorkflowRun($workflowRunId)\n    Write-Host\
        \ \"Found the workflow run with ID $workflowRunId on attempt $attempt. Workflow\
        \ run link: $($workflowRun.html_url)\"\n    \"ci_workflow_run_id=$workflowRunId\"\
        \ | Out-File -Append -FilePath $env:GITHUB_OUTPUT\n    \"ci_workflow_run_url=$($workflowRun.html_url)\"\
        \ | Out-File -Append -FilePath $env:GITHUB_OUTPUT\n    break\n  }\n\n  Write-Host\
        \ \"Workflow run for $WorkflowSearchPattern pattern not found on attempt $attempt.\"\
        \n  $attempt += 1\n  Start-Sleep 30\n} until ($attempt -eq 10)\n\nif ([string]::IsNullOrEmpty($workflowRunId))\
        \ {\n    throw \"Failed to find a workflow run for '$WorkflowSearchPattern'.\"\
        \n}\n"
  wait-completion:
    runs-on: ubuntu-latest
    needs: trigger-workflow
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
    - name: Wait for workflow completion
      env:
        CI_PR_TOKEN: ${{ secrets.CI_PR_TOKEN }}
        CI_REPO: ${{ vars.CI_REPO }}
      run: "./helpers/WaitWorkflowCompletion.ps1 `\n  -WorkflowRunId \"${{ needs.trigger-workflow.outputs.ci_workflow_run_id\
        \ }}\" `\n  -Repository \"${env:CI_REPO}\" `\n  -AccessToken \"${env:CI_PR_TOKEN}\"\
        \n"
    - name: Add Summary
      if: always()
      run: '"# Test Partner Image" >> $env:GITHUB_STEP_SUMMARY

        "| Key | Value |" >> $env:GITHUB_STEP_SUMMARY

        "| :-----------: | :--------: |" >> $env:GITHUB_STEP_SUMMARY

        "| Workflow Run | [Link](${{ needs.trigger-workflow.outputs.ci_workflow_run_url
        }}) |" >> $env:GITHUB_STEP_SUMMARY

        "| Workflow Result | $env:CI_WORKFLOW_RUN_RESULT |" >> $env:GITHUB_STEP_SUMMARY

        "  " >> $env:GITHUB_STEP_SUMMARY

        '
  cancel-workflow:
    runs-on: ubuntu-latest
    needs:
    - trigger-workflow
    - wait-completion
    if: cancelled()
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
    - name: Cancel workflow
      env:
        CI_PR_TOKEN: ${{ secrets.CI_PR_TOKEN }}
        CI_REPO: ${{ vars.CI_REPO }}
      run: 'Import-Module ./helpers/GitHubApi.psm1


        $gitHubApi = Get-GithubApi -Repository "${env:CI_REPO}" -AccessToken "${env:CI_PR_TOKEN}"

        $gitHubApi.CancelWorkflowRun("${{ needs.trigger-workflow.outputs.ci_workflow_run_id
        }}")

        '
