name: Validate JSON Schema
on:
  workflow_dispatch: {}
jobs:
  validate-json-schema:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Validate JSON Schema
      shell: pwsh
      run: ./helpers/CheckJsonSchema.ps1
